.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.App-btn {
  width: 120px;
  height: 40px;
  border-radius: 10px;
  background-color: #E9967A;
}

.App-span-comment {
  font-size: 17px;
  background-color: #DC143C; 
  border: 1px solid;
  border-radius: 5px;
  padding: 1px;
  margin: 5px 5px 5px 5px;
}

.App-div-comment {
  display: flex;
  flex-direction: row;
  justify-content: start;
  border: 1px solid;
  border-radius: 10px;
  padding: 5px;
  flex-basis: auto;
}

.App-input {
  width: 50%;
  padding: 3px;
  margin-left: 5px; 
  border-radius: 10px;
}

.App-btn-ok {
  height: 40px;
  margin-left: 5px;
  border-radius: 10px;
  background-color: #E9967A;
}

.App-p {
  font-size: 15px;
  padding: 5px;
  margin: 3px;
}

.App-link {
  color: #61dafb;
}

.App-div-text {
  width: 95%;
  text-align: left;
  padding: 5px;
  margin: 5px;
}

.App-table > tr > td {
  border: 1px solid;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
